fastapi
uvicorn[standard]
supabase
python-jose[cryptography]
python-multipart
opencv-python-headless
torch==2.2.2  # Specify a compatible version
torchvision==0.17.2 # Add this line and specify a compatible version
numpy
passlib
python-jose
dotenv
pydantic
pydantic[email]
pydantic-settings
postgrest
pillow
seaborn
pandas
requests
